IMG.pop_headimg{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-style:solid;
	border-width:5px;
	border-color:#FFFFFF;
	width: 100px;
	height: 100px;
}

P.poptxt{
	text-align: center;
	font-family:Arial,Helvetica,sans-serif;
	text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);
}
@media all and (min-width: 66em){

      	 #overview {
	   
	  width: 30%;
	  float:left;

	  }
	  #items {
	   
	  width: 69%;
	  float:right;

	  }
	   #load {
	   
	  width: 70%;
	  float:right;

	  }
}
